<div class="title">
  <p><%= @bar_name.name %></p>
</div>

<% @menu_items.each do |menu_item| %>
  <p><%= "#{menu_item.item}: #{menu_item.price}" %></p>
<% end %>
<div class="links link-box">
  <%= link_to "New Menu", new_menu_path %>
</div>
<div class="links link-box">
  <%= link_to "Menus", menus_path %>
</div>
