/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin: 0px;
  background-color: black;
  font-family: "Dosis", sans-serif;
}

#main-page {
  background-image: url('dark-wood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  color: #73592D;
}

#spacer {
  height: 40px;
}

#menu {
  margin: auto;
  padding: 50px 40px 80px 40px;
  background-image: url('paper-texture-2.jpg');
  background-position: center;
  text-align: center;
  width: 350px;
}

#bar-name { text-transform: uppercase; }

.title p {
  font-size: 30px;
  margin: 0px;
  padding-bottom: 8px;
}

.links a {
  text-decoration: none;
  color: inherit;
}

.link-box {
  display: inline-block;
  border: 2px solid #D6C9B2;
  padding: 5px;
}

#menu-items { font-size: 16px; }
